footer{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 20vh;
    text-align: center;
    >.createdBy{
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: 0.85em;
        width: 70%;
    }
    >.credentials{
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 70%;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    }
}